@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

div.data_do_pagamento {
    display: none;
}

#calcular {
    display: none;
}

#botao_abrir_modal {
    display: none;
}

h1 {
    font-size: 1.5em;
    border-bottom: solid black;
    text-align: center;
}

h2,h3 {
    margin: 20px 0px 20px 0px;
    font-size: 1.4em;
    text-align: center;

}

body {
    display: flex;
    justify-content: center;
}

main {
    min-width: 375px;
    background-color: #8d6eb448;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 20px;
    margin: 2em 0em 2em 0em;
}

div.data_do_pagamento {
    margin: 2em 0em 2em 0em;
    text-align: center;
    
}

div.pergunta {
    margin-bottom: 10px;
    text-align: center;
}

label {
    font-size: 1.2em;
    text-align: center;
    padding: 1px;
}

.data_de_vencimento,.data_do_pagamento,.valor_das_parcelas,.quantidade_de_parcela,.vencimento_mesmo_dia,.vencimento_dias_corridos,.parcelamento_inicial {
    margin-bottom: 10px;
    margin-top: 10px;
}

#vencimento_da_entrada,#dia_do_pagamento,#valor_da_entrada,#vencimento_do_parcelamento,#valor_das_parcelas {
    width: 100px;
}

#quantidade_de_parcelas,#parcela_inicial {
    width: 50px;
}

#entrada {
    display: none;
}

#parcelamento {
    display: none;
}

#calcular,#ir_para_inserir_dados {
    text-align: center;
    margin: 20px 0px 20px 0px;
    
}

#botao_calcular,#botao_ir_para_inserir_dados,#botao_abrir_modal {
    background-color: #8d6eb4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
}

/*CSS DA TABELA*/

table {
    border-collapse: collapse;

}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    max-width: 103px;
    font-size: 0.8em;
}

tfoot {
    font-weight: bold;
}

#campo_da_tabela {
    min-width: 375px;
    margin: auto;
    overflow-x: auto;
}